:root {
  --primary: #ffffff;
  --primary-light: #f5f5f5;
  --primary-dark: #cccccc;
  --primary-dark-medium: #b1b1b1;
  --primary-darker: #888888;
  --primary-darkest: #555555;
  --foreground: #222222;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  --font-base: var(--font-montserrat);
  --font-header: var(--font-roboto);
  color: var(--foreground);
  background: var(--primary);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
